.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    rgb(11, 197, 234),
    rgb(81, 228, 220)
  );
  height: 100%;
}

button:focus {
  outline: 0;
}

.main-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 5rem;
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 20px;
  z-index: 5;
}

.search-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  outline: 0;
  border: 0px;
  padding: 10px;
  border-radius: 20px;
}
.item-image {
  width: 100px;
  height: 50%;
}

.item-container {
  width: 100%;
  overflow-y: auto;
  max-height: 75vh;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list-wrapper {
  width: 100%;
  max-height: 75vh;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-wrapper {
  width: 200px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  height: 200px;
  font-size: small;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  transition: all 0.2s;
}
.item-price {
  display: absolute;
  right: 0px;
  bottom: 0px;
  font-weight: bold;
  background-color: aquamarine;
  border: 0px;
  box-shadow: 0px 0px 7px 0px #27d4a6b0;
  border-radius: 20px;
  transition: all 0.2s;
  padding: 7px;
}

.item-price:hover {
  background-color: rgba(78, 219, 172, 0.792);
}

.cart-count {
  position: absolute;
  right: max(13vw, 46px);
  cursor: pointer;
  color: white;
}

.cart-count sup {
  position: absolute;
  top: -5px;
  font-size: xx-small;
  background-color: rgba(89, 179, 224, 0.694);
  border-radius: 50%;
  padding: 1px 4px 1px 4px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.item-title {
  font-size: larger;
}

.item-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Loading */
.loader {
  border: 16px solid #ffffff00; /* Light grey */
  border-top: 16px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cart-remove-button,
.cart-add-button {
  border: 0px;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 3px 10px;
  box-shadow: 0px 0px 7px 0px #27d4a6b0;
}

.cart-add-button {
  background-color: aquamarine;
  margin-left: 5px;
}
.cart-add-button:hover {
  background-color: rgb(124, 183, 163);
}

.cart-remove-button {
  background-color: rgba(89, 179, 224, 0.694);
  margin-right: 5px;
}

.cart-remove-button:hover {
  background-color: rgba(107, 178, 214, 0.528);
}

.cart-count-counter {
  border: 1px;
  font-size: larger;
}
.home-button {
  color: white;
  position: absolute;
  right: 13vw;
  top: 10vh;
  cursor: pointer;
}

.circle-size1 {
  width: 100px;
  height: 100px;
}
.circle-size2 {
  width: 200px;
  height: 200px;
}
.circle-size3 {
  width: 150px;
  height: 150px;
}

.bg-circle {
  border-radius: 50%;
  position: fixed;
  z-index: 0;
  background-image: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
}
